body {
  padding-top: 70px;
}

.primary-color {
  color: #407BFF;
}

.nav-bg {
  background-color: #fff;
}

.header h1 {
  font-size: 4rem;
}

.navbar li {
  font-size: 14px;
}

.navbar .parent-dropdown:hover .parent-menu {
  display: block;
  border: none;
  box-shadow: #efefef;
}

/* .navbar .child-dropdown:hover .child-menu {
  display: block;
  border: none;
  box-shadow: #efefef;
} */

.navbar .dropdown-item:hover {
  color:#407BFF;
}

.text-color {
  color: #939393
}

p {
  color: #939393;
}

.list-custom-icon {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.list-custom-icon li:before {
  display: inline-block;
  width: 20px;
  content: "✓";
  margin-left: -20px;
  color: #407BFF;
}

.bg-light {
 background-color: #f8f9fa;
}

.service-card {
  cursor: pointer;
  border-radius: 5px;
}

.service-card:hover {
  background-color: #fff;
  /* border-right: 2px solid #407BFF; */
}

.service-icon {
  display: flex;
   width: 40px;
   height: 40px;
   align-items: center;
   justify-content: center;
}

.color-green {
  background-color: #6fe7dd;
}

.color-yellow {
  background-color: #ffc93c;
}

.color-red {
  background-color: #f73859;
}

.color-blue {
  background-color: #407BFF;
}

.news-card {
  margin-top: 30px;
  cursor: pointer;
  transition: margin-top 500ms;
}

.news-card:hover {
  margin-top: 20px;
}

.new-text {
  color: black;
}

.new-text:hover {
  color: #407BFF;
}

.right-arrow-size {
  font-size: 25px;
}

.next-button {
  width: 50px;
  margin-left: 0;
  transition: margin 500ms;
}

.next-button:hover {
  margin-left: 30px;
}

.page-num-indicator {
  bottom: 20px;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 255, 0.2);
  background-color: #407BFF;
}



input.form-control, textarea.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.form-label {
  color: #939393;
}

.small-text {
  font-size: 14px;
}

.footer-color {
  background-color: #efefef;
}

a.footer-link {
  text-decoration: none;
  color: #939393;
  font-size: 14px;
}

.social-icon {
  width: 30px;
  height: 30px;
  background-color: #888;
}

.social-icon:hover {
  background-color: #407BFF;
}

.control-button {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  color: #ffffff;
}

.control-button:hover {
  background-color: #407BFF;
}

.img {
  height: 260px;width:200px;
  background-color: red;  
}

.service-card-clicked {
  background-color: #fff;
  border-right: 3px solid #407BFF;
}

