/* For header text */
.pro-font-size {
  font-weight: 500;
  line-height: 110%;
}

/* Padding top for header section */
/* .header-pad {
  padding-top: 70px;
} */

.primary-color {
  color: #407BFF;
}

/* sing in button */
.sign-in {
  border: 1px solid rgba(128, 128, 128, 0.254);
  text-decoration: none;
  color: #888;
  font-size: 14px;
  padding: 8px 20px;
  transition: border 300ms;
}

.sign-in:hover {
  border: 1px solid black;
  color: #000000d5;
}

/* Register button */
.register-btn {
  background-color: 1px solid #407BFF;
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 8px 20px;
  background-color: #407BFF;
  transition: background-color 300ms;
}

.register-btn:hover {
  background-color: #195ae7;
}

/* Fixed Navbar background */
.nav-bg {
  background-color: #fff;
}

/* Navbar item font size */
.navbar li {
  font-size: 14px;
}

.navbar .parent-dropdown:hover .parent-menu {
  display: block;
  /* border: none; */
  box-shadow: 0 4px 8px 0 rgba(163, 163, 173, 0.2);
}

.child-dropdown:hover .child-menu {
  display: block;
  border: none;
  left: 100%;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(163, 163, 173, 0.2);
}

/* .navbar .child-dropdown:hover .child-menu {
  display: block;
  border: none;
  box-shadow: #efefef;
} */

.navbar .dropdown-item:hover {
  color:#407BFF;
}

.text-color {
  color: #939393
}

p {
  color: #939393;
}

.list-custom-icon {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.list-custom-icon li:before {
  display: inline-block;
  width: 20px;
  content: "✓";
  margin-left: -20px;
  color: #407BFF;
}

.bg-light {
 background-color: #f8f9fa;
}

.service-card {
  cursor: pointer;
  border-radius: 5px;
}

.service-card:hover {
  background-color: #fff;
  /* border-right: 2px solid #407BFF; */
}

.service-icon {
  display: flex;
   width: 40px;
   height: 40px;
   align-items: center;
   justify-content: center;
}

.color-green {
  background-color: #6fe7dd;
}

.color-yellow {
  background-color: #ffc93c;
}

.color-red {
  background-color: #f73859;
}

.color-blue {
  background-color: #407BFF;
}

.news-card {
  margin-top: 30px;
  cursor: pointer;
  transition: margin-top 300ms;
}

.news-card:hover {
  margin-top: 20px;
}

.new-text {
  color: black;
}

.new-text:hover {
  color: #407BFF;
}

.right-arrow-size {
  font-size: 25px;
}

.next-button {
  width: 50px;
  margin-left: 0;
  transition: margin 500ms;
}

.next-button:hover {
  margin-left: 30px;
}

.page-num-indicator {
  bottom: 20px;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 255, 0.2);
  background-color: #407BFF;
}



input.form-control, textarea.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.form-label {
  color: #939393;
}

.small-text {
  font-size: 14px;
}

.footer-color {
  background-color: #efefef;
}

a.footer-link {
  text-decoration: none;
  color: #939393;
  font-size: 14px;
}

.social-icon {
  width: 30px;
  height: 30px;
  background-color: #888;
}

.social-icon:hover {
  background-color: #407BFF;
}

.control-button {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  color: #ffffff;
}

.control-button:hover {
  background-color: #407BFF;
}

.img {
  height: 260px;width:200px;
  background-color: red;  
}

.service-card-clicked {
  background-color: #fff;
  border-right: 3px solid #407BFF;
}

.navbar-transition {
  
  transition: 500s;
}


