.primary-color {
  color: #407BFF;
}

.header h1 {
  font-size: 4rem;
}

.text-color {
  color: #939393
}

p {
  color: #939393;
}

.bg-light {
 background-color: #f8f9fa;
}

.service-icon {
  display: flex;
   width: 40px;
   height: 40px;
   align-items: center;
   justify-content: center;
}

.color-green {
  background-color: #6fe7dd;
}

.color-yellow {
  background-color: #ffc93c;
}

.color-red {
  background-color: #f73859;
}

.color-blue {
  background-color: #407BFF;
}

.new-text {
  color: black;
}

.new-text:hover {
  color: #407BFF;
}

.right-arrow-size {
  font-size: 25px;
}

input.form-control, textarea.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.form-label {
  color: #939393;
}

.small-text {
  font-size: 14px;
}

.footer-color {
  background-color: #efefef;
}

a.footer-link {
  text-decoration: none;
  color: #939393;
  font-size: 14px;
}

.social-icon {
  width: 30px;
  height: 30px;
  background-color: #888;
}
